# ---- Python ----
__pycache__/
*.py[cod]
*.pyo

# ---- Virtual environments ----
.venv/
venv/
env/
chat_history_foodstation.db


# ---- Environment / secret files ----
.env
*.key
*.pem

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDEs / Editors ----
.vscode/
.idea/

# ---- Logs / temp ----
*.log
*.tmp
